services:
  puppeteer-1:
    user: "1004:1004"
    build: ./puppeteer
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - ./shared/pdf:/shared/pdf
    restart: unless-stopped

  puppeteer-2:
    user: "1004:1004"
    build: ./puppeteer
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - ./shared/pdf:/shared/pdf
    restart: unless-stopped

  puppeteer-3:
    user: "1004:1004"
    build: ./puppeteer
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - ./shared/pdf:/shared/pdf
    restart: unless-stopped

  puppeteer-4:
    user: "1004:1004"
    build: ./puppeteer
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - ./shared/pdf:/shared/pdf
    restart: unless-stopped

  puppeteer-5:
    user: "1004:1004"
    build: ./puppeteer
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - ./shared/pdf:/shared/pdf
    restart: unless-stopped
  
  puppeteer-6:
    user: "1004:1004"
    build: ./puppeteer
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - ./shared/pdf:/shared/pdf
    restart: unless-stopped

  puppeteer-7:
    user: "1004:1004"
    build: ./puppeteer
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - ./shared/pdf:/shared/pdf
    restart: unless-stopped

  puppeteer-lb:  
    image: nginx:1.27-alpine
    ports:
      - "8087:80"   # expose le LB
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - puppeteer-1
      - puppeteer-2
      - puppeteer-3
      - puppeteer-4
      - puppeteer-5
      - puppeteer-6
      - puppeteer-7
    restart: unless-stopped
