services:
  puppeteer-1:  
    build: ./puppeteer
    container_name: puppeteer-1
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - /var/www/tmp:/var/www/tmp
    restart: unless-stopped

  puppeteer-2:
    build: ./puppeteer
    container_name: puppeteer-2
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - /var/www/tmp:/var/www/tmp
    restart: unless-stopped

  puppeteer-3:
    build: ./puppeteer
    container_name: puppeteer-3
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - /var/www/tmp:/var/www/tmp
    restart: unless-stopped

  puppeteer-4:
    build: ./puppeteer
    container_name: puppeteer-4
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - /var/www/tmp:/var/www/tmp
    restart: unless-stopped

  puppeteer-5:
    build: ./puppeteer
    container_name: puppeteer-5
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - /var/www/tmp:/var/www/tmp
    restart: unless-stopped
  
  puppeteer-6:
    build: ./puppeteer
    container_name: puppeteer-6
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - /var/www/tmp:/var/www/tmp
    restart: unless-stopped

  puppeteer-7:
    build: ./puppeteer
    container_name: puppeteer-7
    environment:
      - PORT=3000
      - MAX_CONCURRENCY=2
    volumes:
      - /var/www/tmp:/var/www/tmp
    restart: unless-stopped

  puppeteer-lb:  
    image: nginx:1.27-alpine
    container_name: puppeteer-lb
    ports:
      - "8087:80"   # expose le LB
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - puppeteer-1
      - puppeteer-2
      - puppeteer-3
      - puppeteer-4
      - puppeteer-5
      - puppeteer-6
      - puppeteer-7
    restart: unless-stopped
